/* css reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;   
}

h1 {
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position:  center center; 
    /* height: 500px; */
    text-align: center;
    font-size: 8em;
    line-height: 500px;
    color:bisque;
    text-shadow: 5px 5px 5px black;
}

h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

h3 {
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
}

p , dl, ol {
    font-size: 2em;
}

dt {
    text-decoration: underline ;
}

dt,dd {
    display: inline-block;
}

ol {
    /* padding-left: 36px; */
    list-style-position: inside;
    list-style-type: none ;
    counter-reset: number;

}

ol li::before {
    content: 'шаг' counter(number);
    counter-increment: number;
    font-weight: bold;
}

ol p {
    font-size: 1em;
    display: inline-block;
    margin-right: 20px;
    max-width: calc(100% - 460px);
    vertical-align: top;
}

.container {
    width: 1140px;
    margin: 0 auto 100px;

}

.desc {
    text-align: justify;
    font-size: 2em;
    margin: 2em 0;
}

.step-img {
    max-width: 400px;
    float: right;
    vertical-align: middle;
}
